# (PISA 2012 Dataset)
## by (Gad Mohamed)




---




### **Table of contents**
* Data Wrangling
* Uni-variate exploration 
* Bi-variate exploration 
* Multi-variate exploration

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

In [ ]:
#don't print output
%%capture 

#download PISA2012 dataset
!wget 'https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisa2012.csv.zip'
!unzip pisa2012.csv.zip


#download PISA2012 dictionary
!wget 'https://s3.amazonaws.com/udacity-hosted-downloads/ud507/pisadict2012.csv'

## Data wrangling

### read and inspect the dataset

In [2]:
pisa_df = pd.read_csv('pisa2012.csv', encoding = 'cp1252')
pisa_dict_df = pd.read_csv('pisadict2012.csv', encoding = 'cp1252')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pisa_df.head()

   Unnamed: 0      CNT  SUBNATIO  STRATUM  ... WVARSTRR VAR_UNIT  SENWGT_STU  VER_STU
0           1  Albania     80000  ALB0006  ...       19        1      0.2098  22NOV13
1           2  Albania     80000  ALB0006  ...       19        1      0.2098  22NOV13
2           3  Albania     80000  ALB0006  ...       19        1      0.1999  22NOV13
3           4  Albania     80000  ALB0006  ...       19        1      0.1999  22NOV13
4           5  Albania     80000  ALB0006  ...       19        1      0.1999  22NOV13

[5 rows x 636 columns]

In [4]:
pisa_dict_df.head()

  Unnamed: 0                                                  x
0        CNT                           Country code 3-character
1   SUBNATIO  Adjudicated sub-region code 7-digit code (3-di...
2    STRATUM  Stratum ID 7-character (cnt + region ID + orig...
3       OECD                                       OECD country
4         NC                       National Centre 6-digit Code

### reducing the massive dataset to include only the relevant columns to our problem.

In [6]:
pisa_dict_df.rename(columns = {'Unnamed: 0': 'code'}, inplace = True)

In [52]:
#columns that I will work about in this project
codes = ['CNT', 'STIDSTD', 'ST13Q01', 'ST17Q01', 'ST57Q01', 'ST57Q02', 'ST57Q03', 'ST57Q04', 'ST57Q05', 'MMINS', 'LMINS', 'SMINS', 'PV1MATH', 'PV2MATH', 'PV3MATH',
           'PV4MATH', 'PV5MATH', 'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ', 'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']

#the names of these codes in the PISA dictionary csv
names = pisa_dict_df.loc[pisa_dict_df.code.isin(codes)].x.values

In [53]:
#create a much smaller dataset that contains only relevant columns and renamed them to their original names
clean_pisa = pisa_df[codes].rename(columns = {code:name for code, name in zip(codes, names)})
clean_pisa.head()

  Country code 3-character  ...  Plausible value 5 in science
0                  Albania  ...                      392.9877
1                  Albania  ...                      454.8116
2                  Albania  ...                      499.6643
3                  Albania  ...                      426.5573
4                  Albania  ...                      422.1746

[5 rows x 27 columns]

In [54]:
clean_pisa.shape

(485490, 27)

In [51]:
clean_pisa['Student ID']

            Out-of-School Study Time - Homework  ...  Plausible value 5 in science
Student ID                                       ...
1                                      6.128205  ...                    475.865296
2                                      4.476190  ...                    462.644532
3                                      6.071429  ...                    477.091240
4                                      6.631579  ...                    485.638590
5                                      5.162791  ...                    487.894387

[5 rows x 23 columns]

In [35]:
clean_pisa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485490 entries, 0 to 485489
Data columns (total 27 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Country code 3-character                             485490 non-null  object
 1   Mother<Highest Schooling>                            485490 non-null  int64
 2   Father<Highest Schooling>                            457979 non-null  object
 3   Out-of-School Study Time - Homework                  443261 non-null  object
 4   Out-of-School Study Time - Guided Homework           301367 non-null  float64
 5   Out-of-School Study Time - Personal Tutor            269808 non-null  float64
 6   Out-of-School Study Time - Commercial Company        283813 non-null  float64
 7   Out-of-School Study Time - With Parent               279657 non-null  float64
 8   Learning time (minutes per week)  - <test language>  289502 non-null  float64
 9   Learning time (minutes per week)- <Mathematics>      283303 non-null  float64
 10  Learning time (minutes per week) - <Science>         282866 non-null  float64
 11  Plausible value 1 in mathematics                     270914 non-null  float64
 12  Plausible value 2 in mathematics                     485490 non-null  float64
 13  Plausible value 3 in mathematics                     485490 non-null  float64
 14  Plausible value 4 in mathematics                     485490 non-null  float64
 15  Plausible value 5 in mathematics                     485490 non-null  float64
 16  Plausible value 1 in reading                         485490 non-null  float64
 17  Plausible value 2 in reading                         485490 non-null  float64
 18  Plausible value 3 in reading                         485490 non-null  float64
 19  Plausible value 4 in reading                         485490 non-null  float64
 20  Plausible value 5 in reading                         485490 non-null  float64
 21  Plausible value 1 in science                         485490 non-null  float64
 22  Plausible value 2 in science                         485490 non-null  float64
 23  Plausible value 3 in science                         485490 non-null  float64
 24  Plausible value 4 in science                         485490 non-null  float64
 25  Plausible value 5 in science                         485490 non-null  float64
 26  PV5SCIE                                              485490 non-null  float64
dtypes: float64(23), int64(1), object(3)
memory usage: 100.0+ MB

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!